{% extends "base.html" %}

{% block page_title %}
My Favorite Recipies
{% endblock %}

{% block H1_Description %}
Hope you find something delicious!
{% endblock %}

{% block H1_Content %}
Welcome to the website of deliciousness. You can use the menu above to navigate the different web pages.
{% endblock %}

{% block H2_Description %}
Please choose from the options on the menu above!
{% endblock %}

{% block H2_Content %}
You can add recipies, remove recipies, and browse the recipies.  There is something delicious for everyone.
{% endblock %}