{% extends "base.html" %}
{% from "form-macros.html" import render_field %}

{% block page_title %}
Search Recipes
{% endblock %}

{% block H1_Description %}
Please enter the search criteria below
{% endblock %}

{% block H1_Content %}
Click <b><i>Search</i></b> to find another recipe
{% endblock %}

{% block H2_Description %}
{% endblock %}

{% block H2_Content %}
<section>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-6">
                <table>
                    {{ render_field(form.recipe_name, size=25) }}
                </table>
            </div>
            <table>
                <tr class="submit">
                    <td></td>
                    <td>
                        <button type="submit">Search</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</section>
{% endblock %}