


{% extends "base.html" %}
{% from "form-macros.html" import render_field %}


{% block page_title %}
Beneficiary Management
{% endblock %}

{% block H1_Description %}
{% endblock %}

{% block H1_Content %}
{% endblock %}

{% block H2_Description %}
Here is the recipe that was requested!
{% endblock %}

{% block H2_Content %}
<section>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='image_dir/' + recipe['pic']) }}">
            </div>
            <h3>Recipe: </h3>
            <table>
                {{ render_field(form.recipe_name, size=25) }}
                {{ render_field(form.recipe_ingredients, size=200) }}
                {{ render_field(form.recipe_directions, size=200) }}
                {{ render_field(form.recipe_servings, size=50) }}

            </table>


        </div>
    </form>
</section>
{% endblock %}